@media screen and (min-device-width :961px) and (max-device-width: 1600px){
    nav a{
        font-size: 1.3em;
        
    }
    nav ul li{
        margin-right: 3em;

    }
    .align{
        margin-left: 2em;
        margin-right: 1em;
    }
    .nav{
        height: 5em;
        line-height: 1.7em;
    }

    div.logo{
        width: 9em;
        height: 5em;
    }
    div.logo a{
        background-size: cover;
    }
}