* {
    margin: 0px;
    padding: 0px;
    
}

html {
    scroll-behavior: smooth;
}

body {
    
    margin: 0px;
    padding: 0px;
    
    height: 100px;
    box-sizing: border-box;
    background-color: pink;
}
div.logo{
    width: 13em;
    height: 6em;
}
div.logo a{
    max-height: 100px;
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: 20px;
    z-index: 1;
    background-image: url(images/logo200pxh2.png);
}

.nav {
    float: right;
    width: 100%;
    height: 100px;
    line-height: 60px;
    color: green;
    background-color: #000000;
    position: fixed;
    z-index: 9999;
}

nav {
    top: -50px;
    display: flex;
    transition: top 0.3s;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: center;
    position: fixed;
    top: 25px;
    width: 100%;

}

li {
    display: inline-block;
    text-align: center;
}

a {
    padding: 0px;
    padding-top: 0px;
    width: 75px;
    display: block;
    line-height: 0px;
}

nav a {
    color: #ce1218;
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 30px;
    padding-bottom: 13%;
}

nav a:hover {
    color: #C7C7C7;
    transition-duration: 0.0s;
}

nav ul {
    text-align: right;
}

#home {
    padding-top: 0px;
    background: #E82A4C;
    display: flex;
    width: 100%;
    font-family: 'Pathway Gothic One', sans-serif;

}

#video{
    text-align: center;
    padding: 10%;
}
#tourdates {
    height: 970px;
    background: black;
    display: block;
    width: 100%;
    font-family: 'Pathway Gothic One', sans-serif;
}

.singlesreleases {
    font-size: 24px;
}

#roster {
    height: 600px;
    background: #E82A4C;
    display: flex;
    width: 100%;
    font-family: 'Pathway Gothic One', sans-serif;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#artist_content {
    margin: 2 auto;
}

#artist_content {
    margin: 2 auto;
}

#artist_content a {
    width: 100%;
    height: 100%;
    align-content: center;
    margin: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    display: inline-block;
    -webkit-border-radius: 10px;
    -webkit-transition: all.1s ease-in;
    -moz-transition: all.1s ease-in;
    -0-transition: all.1s ease-in;
    transition: all.1s ease-in;
}

#artist_content a :hover {
    color: #333333;
    opacity: 0.5;
}

div.artist_content {
    text-align: center;
    padding: 10px;
    padding-top: 1px;
    ;
}

div.artist_images {
    margin: left;
}
.withfadeout {
    -webkit-transition: all 0,1s ease-in-out;
    -moz-transition: all 0,1s ease-in-out;
    -ms-transition: all 0,1s ease-in-out;
    -o-transition: all 0,1s ease-in-out;
    transition: all 0,1s ease-in-out;
    }
    .withfadeout:hover {
    -webkit-opacity:0.65;
    -moz-opacity:0.65;
    -opacity:0.65;
    -zoom:1;
    }

    .container2 {
        position: relative;
        text-align: center;
        color: white;
      }
      
.artistinfo {
	position: absolute;
	color:green;
	font-size:10px;
	bottom: 8px;
	left: 16px;
}

#contact{
	height:520px;
	background:#a00000;
	display:flex;
	width:100%;
	font-family: 'Pathway Gothic One', sans-serif;
}




/* FOOTER*/
#footer{
    height:350px;
    /*
    background:#0D0D0D;
    */
    background: blue;
}

#socials{
    height: 15em;
    width: 100%;
    position: relative;
    background-color:#ed1d24;
    font-size: 22px;
}

#social-one{
    background-image: url(images/SocialsWebsiteFacebook.png);
    height: 8em;
    width: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin-top: 6.5%;
    margin-left: 8%;
}
#social-two{    
    background-image: url(images/SocialsWebsiteTwitter.png);
    height: 8em;
    width: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin-top: 6.5%;
    margin-left: 31%;
}

#social-three{
       background-image: url(images/SocialsWebsiteYouTube.png);
    height: 8em;
    width: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin-top: 6.5%;
    margin-left: 54%; 
}

#social-four{
    background-image: url(images/SocialsWebsiteInstagram.png);
 height: 8em;
 width: 8em;
 background-size: cover;
 background-repeat: no-repeat;
 position: absolute;
 display: inline-block;
 border-radius: 50%;
 margin-top: 6.5%;
 margin-left: 77%; 
}

.quote{
    background-image: url(images/FutureOfHardstyle.png);
    background-size: 40%;
    height: 100px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #121212;
    background-position: center;
}
.lg:hover{
    filter: invert(100%);
}